# 1 True (Docker is used) , 0 = False
DOCKER="1"

# Debug Mode : 1-> True (Debug is ON), 0 -> False (Debug is OFF)
DEBUG="1"

# 1 -> ngrok will publish the app through the internet | 0 -> ngrok service is off
PUBLIC="1"


ALLOWED_HOSTS=<your-ngrok-subdomain>.ngrok-free.dev,127.0.0.1,localhost,telrag.site,https://telrag.site,app

# Telegram Production Setup
TELEGRAM_API_KEY="TELEGRAM_API_KEY"
TELEGRAM_WEBHOOK_SECRET="TELEGRAM_WEBHOOK_SECRET"
ONLINE_WEBHOOK_ADDRESS="https://telrag.site/webhook/"


# Telegram Dev Setup
TELEGRAM_DEV_API_KEY="TELEGRAM_DEV_API_KEY"
TELEGRAM_DEV_WEBHOOK_SECRET="TELEGRAM_DEV_WEBHOOK_SECRET"
DEV_WEBHOOK_ADDRESS="https://<your-ngrok-subdomain>.ngrok-free.dev/webhook"
NGROK_AUTHTOKEN="NGROK_AUTHTOKEN"

# The user which is allowed to send message
TELEGRAM_ALLOWED_USER_IDS=111111111

# Database configuration (note: variable should be like this, they are actually readable variables for postgres docker container as a default)
POSTGRES_DB=telrag_db
POSTGRES_USER=telrag_admin
POSTGRES_PASSWORD="posrgres_password"
HOST=db
POSTGRES_PORT=5432

# Domain for caddy
DOMAIN=telrag.site

# HF
HF_API_TOKEN="HF_API_TOKEN"

# OPENAI
OPENAI_API_KEY="OPENAI_API_KEY"

ORGANIZATION='ORGANIZATION'


REDIS_HOST_NAME=redis

CSRF_TRUSTED_ORIGINS="https://telrag.site,https://www.telrag.site"

# Logging
DJANGO_LOG_LEVEL=INFO

# Grafana Auth
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD="GF_SECURITY_ADMIN_PASSWORD"

# Flower (Celery Monitoring) Auth
FLOWER_BASIC_AUTH="FLOWER_BASIC_AUTH"

# Django admin user creation
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

# RAG
TOP_K="10"
BETA="0"
TEST_LIMIT="20"