# Debug Mode : 1-> True (Debug is ON), 0 -> False (Debug is OFF)
DEBUG="1"

# 1 -> ngrok will publish the app through the internet | 0 -> ngrok service is off
PUBLIC="1"

# Django secret key
SECRET_KEY="Django secret key: a random combination of digits and characters"

ALLOWED_HOSTS=<your-ngrok-subdomain>.ngrok-free.dev,127.0.0.1,localhost,<your_domains>

# Telegram Production Setup
TELEGRAM_API_KEY="TELEGRAM_API_KEY"
TELEGRAM_WEBHOOK_SECRET="TELEGRAM_WEBHOOK_SECRET"
ONLINE_WEBHOOK_ADDRESS="https://<your_domain>/webhook/"


# Telegram Dev Setup
TELEGRAM_DEV_API_KEY="TELEGRAM_DEV_API_KEY"
TELEGRAM_DEV_WEBHOOK_SECRET="TELEGRAM_DEV_WEBHOOK_SECRET"
NGROK_URL="<your-ngrok-free-domain>"
NGROK_AUTHTOKEN="NGROK_AUTHTOKEN"

# The user which is allowed to send message
# Your telegram account chat_id
TELEGRAM_ALLOWED_USER_IDS=111111111

# Database configuration (note: variable should be like this, they are actually readable variables for postgres docker container as a default)
POSTGRES_DB="posrgres_db"
POSTGRES_USER="posrgres_admin_username"
POSTGRES_PASSWORD="posrgres_password"
HOST=db
POSTGRES_PORT=5432

# Domain for caddy
DOMAIN=telrag.site

# HF
HF_API_TOKEN="HF_API_TOKEN"

# OPENAI
OPENAI_API_KEY="OPENAI_API_KEY"

ORGANIZATION='ORGANIZATION'


REDIS_HOST_NAME=redis

CSRF_TRUSTED_ORIGINS="https://<your_domain>,https://www.<your_domain>"

# Logging
DJANGO_LOG_LEVEL=INFO

# Grafana Auth
GF_SECURITY_ADMIN_USER="GF_SECURITY_ADMIN_USER"
GF_SECURITY_ADMIN_PASSWORD="GF_SECURITY_ADMIN_PASSWORD"
GF_DOMAIN="grafana.<your_site>.com"

# Flower (Celery Monitoring) Auth
FLOWER_BASIC_AUTH="FLOWER_BASIC_AUTH"

# Django admin user creation
DJANGO_SUPERUSER_USERNAME="DJANGO_SUPERUSER_USERNAME"
DJANGO_SUPERUSER_EMAIL="DJANGO_SUPERUSER_EMAIL"
DJANGO_SUPERUSER_PASSWORD="DJANGO_SUPERUSER_PASSWORD"

# RAG
TOP_K="10"
BETA="0"
TEST_LIMIT="20"