www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri} permanent
}

{$DOMAIN} {
	handle /static/* {
		root * /srv/telrag
		file_server
	}

	handle /media/* {
		root * /srv/telrag
		file_server
	}

	reverse_proxy app:8000
}

{$GF_DOMAIN} {
	reverse_proxy grafana:3000
}
